# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
bin/
*.exe
*.out
*.app

# Python cache
__pycache__/
.ipynb_checkpoints/

# IDE - Visual Studio Code
.vscode/
*.code-workspace

# IDE - Visual Studio
.vs/
Debug/
Release/
x64/
*.user
*.suo

# Build systems
build/
bin/
cmake-build-*/

# Data & Logs
# *.csv
*.log
!data/sample_input.csv # Kecuali file contoh data